// Place all the styles related to the costomers/costomers controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.field3 {
	/*padding-bottom:20px;*/
	display: block;
}

.fff{
	padding-bottom: 20px;
} 


.field4{
	margin-bottom:50px;
}

.btn-success{
	width:170px !important;
	height: 40px;
}

.title2{
	margin-top:40px ;
}

.title1{
	margin-top:-20px ;
	margin-bottom:-10px;
}

.span-title{
	background-color:#d3d3d3;
}

.sign-in-body{
	margin-top:30px; 
}
