
<h2><strong>管理者画面</strong></h2><br>

<div class="row">
  <div class="col-xs-3">
    <h3>本日の注文件数</h3>
  </div>
  <div class="col-xs-9">
  	<%= link_to admins_order_informations_path(@order_information) do %>
      <h3><%= @order_information %>件</h3>
    <% end %>
  </div>
</div>

