<div class="row">
  <div class="col-xs-3 col-xs-push-2">
<h3><strong>注文履歴一覧</strong></h3>
  </div>
</div>

<div class="row">
  <table border="2" frame="box" width="80%" height="100">
	<thead>
      <tr>
        <th>　注文日</th>
        <th>　配送先</th>
        <th>　注文商品</th>
        <th>　支払金額</th>
        <th>　ステータス</th>
        <th>　注文詳細</th>
      </tr>
    </thead>
    <tbody>
    	< @order_infomation.each do |oi| >
    	<tr>
    	  	<td><p>　< oi.create_at ></p></td>
    	  	<td><p>　< oi.sp_all ></p></td>
    	  	<td><p>　< oi.order_puroduct.name ></p></td>
    	  	<td><p>　< oi.total ></p></td>
    	  	<td><p>　< oi.status ></p></td>
    	  	<td><p>　< link_to "表示する", costomers_order_infomation_path(), class: "btn-sm btn-primary"%></p></td>
    	</tr>
    </tbody>
  </table>
</div>