/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
@import "bootstrap-sprockets";
@import "bootstrap";

/*application.scss適用　　ヘッダーandフッター*/
.navbar-brand {
	background: url("image2.jpg");
	background-size: cover;
	height: 60px;
	width: 110px;
}
.nav-c {
	margin-top: 20px;
}
.navbox {
	background: url("image1.jpg");
	background-size: cover;
}
.navbar {
	height: 100px;
}
.navbar-nav {
	margin-top: 50px;
}
.footer {
	width: 100%;
	background-color: #f08080;
	bottom: 0;
	height: 60px;
	position: fixed;
	margin-bottom: 0;
}
.footer-text {
	color: white;
	display: block;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
}
body {
	margin-bottom: 60px;
	padding-bottom: 0;
	padding-top: 110px;
	background-image: url("back2.jpg");
	background-size: cover;
}
/*application.scss適用　　ヘッダーandフッター ここまで*/
// top画面
.mains {
	background: url("mains.jpg");
	background-size: cover;
	height: 320px;
	width: 100%;
	display:inline-block;
	float: left;
}
.main3 {
	background: url("main3.jpg");
	background-size: cover;
	height: 320px;
	width: 355px;
	float: left;
}

.main5 {
	background: url("main5.jpg");
	background-size: cover;
	height: 320px;
	width: 355px;
	float: left;
}
.main6 {
	background: url("main6.jpg");
	background-size: cover;
	height: 320px;
	width: 355px;
	float: left;
}
.recommend {
	text-align: center;
	font-size: 30px;
	border-bottom: solid 5px #330000;
	font-family: "Comic Sans MS";
}
.thank {
	text-align: center;
	margin: 20% auto;
}


